


.post-type-kashing .rwmb-settings-no-boxes .rwmb-label {
    max-width: 240px;
}

.post-type-kashing input[type=text] {
    min-width: 300px;
}

/* Kashing Settings Page */

.kashing-extra-tip {
    display: block;
    margin-top: 10px;
}