.kashing-form .input-holder {
    margin-bottom: 30px;
}

.kashing-form .input-holder label {
    display: block;
    margin-bottom: 10px;
}

.error{
    color: red;
}

.server-error{
    color: blue;
}

.invalid-field {
    background-color : yellow;
}